<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StatusLogEmplacement" value="C:\Users\Utilisateur\Documents\CESI\Annee_2022-2023\Semestre_5\Programmation_systeme\Projet\test\log"/>
		<add key="DailyLogEmplacement" value="C:\Users\Utilisateur\Documents\CESI\Annee_2022-2023\Semestre_5\Programmation_systeme\Projet\test\log\daily\"/>
		<add key="LogFileName" value="logs"/>
		<add key="SaveProjectEmplacement" value ="C:\Users\Utilisateur\Documents\CESI\Annee_2022-2023\Semestre_5\Programmation_systeme\Projet\test\saveprojects\"/>
		<add key="LogsInXMl" value="Y"/>
		<!-- "Y" for yes "N" for no -->
		<add key="LogsInJson" value="Y"/>
		<!-- "Y" for yes "N" for no -->
		<add key="CryptosoftPath" value ="C:\Users\Utilisateur\Documents\GitHub\Projet-Programmation-Systeme\Cryptosoft\Cryptosoft.exe"/>
		<add key="CryptKeyPath" value ="C:\Users\Utilisateur\Documents\GitHub\Projet-Programmation-Systeme\Cryptosoft\key.txt"/>
		<add key="WorkProcessName" value="Notepad"/>
		<add key="FileSizeLimit" value="100000000"/>
	</appSettings>
</configuration>