<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StatusLogEmplacement" value="D:\Documents\Cesi cours\2022-2023\c#\test\log"/>
		<add key="DailyLogEmplacement" value="D:\Documents\Cesi cours\2022-2023\c#\test\log\daily"/>
		<add key="LogFileName" value="logs"/>
		<add key="SaveProjectEmplacement" value ="D:\Documents\Cesi cours\2022-2023\c#\test\saveprojects"/>
		<add key="LogsInXMl" value="Y"/>
		<!-- "Y" for yes "N" for no -->
		<add key="LogsInJson" value="Y"/>
		<!-- "Y" for yes "N" for no -->
		<add key="CryptosoftPath" value ="C:\Users\luken\Source\Repos\HeyTigrou\Projet-Programmation-Systeme\Cryptosoft\Cryptosoft.exe"/>
		<add key="CryptKeyPath" value ="C:\Users\luken\Source\Repos\HeyTigrou\Projet-Programmation-Systeme\Cryptosoft\key.txt"/>
		<add key="WorkProcessName" value="Notepad"/>
		<add key="FileSizeLimit" value="100000000"/>
	</appSettings>
</configuration>