<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Path to the f=directory where status logs must be put. -->
		<add key="StatusLogEmplacement" value="D:\Documents\Cesi cours\2022-2023\c#\test\log"/>

		<!-- Path to the f=directory where daily logs must be put. -->
		<add key="DailyLogEmplacement" value="D:\Documents\Cesi cours\2022-2023\c#\test\log\daily"/>

		<!-- Name of the daily log file, it will be added after the curret date. can be left empty.-->
		<add key="LogFileName" value="logs"/>

		<!-- Path to the directory where the Save Project must be located. -->
		<add key="SaveProjectEmplacement" value ="D:\Documents\Cesi cours\2022-2023\c#\test\saveprojects"/>

		<!-- "Y" for yes "N" for no -->
		<add key="LogsInXMl" value="Y"/>

		<!-- "Y" for yes "N" for no -->
		<add key="LogsInJson" value="Y"/>

		<!-- Path to Cryptosoft executable. -->
		<add key="CryptosoftPath" value ="C:\Users\luken\Source\Repos\HeyTigrou\Projet-Programmation-Systeme\Cryptosoft\Cryptosoft.exe"/>

		<!-- Path to the crypt key. -->
		<add key="CryptKeyPath" value ="C:\Users\luken\Source\Repos\HeyTigrou\Projet-Programmation-Systeme\Cryptosoft\key.txt"/>

		<!-- Name of the application that must pause save works. -->
		<add key="WorkProcessName" value="Notepad"/>

		<!-- Size of a file to be considered "big" in bytes. -->
		<add key="FileSizeLimit" value="100000000"/>

		<!-- IP of the server for the connection. -->
		<add key="ServerIP" value="127.0.0.1"/>

		<!-- Port for the socket conection. -->
		<add key="ServerPort" value="42042"/>
		
	</appSettings>
</configuration>
