<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StatusLogEmplacement" value="D:\Documents\Cesi cours\2022-2023\c#\essaiLog\log\"/>
    <add key="DailyLogEmplacement" value="D:\Documents\Cesi cours\2022-2023\c#\essaiLog\log\daily\"/>
    <add key="LogFileName" value="logs"/>
    <add key="MaxNumberOfSave" value="5"/>
	  <add key="SaveProjectEmplacement" value ="D:\Documents\Cesi cours\2022-2023\c#\essaiLog\saveprojects\"/>
  </appSettings>
</configuration>