<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StatusLogEmplacement" value="C:\CESI\TestEnv\Logs\"/>
    <add key="DailyLogEmplacement" value="C:\CESI\TestEnv\Logs\daily\"/>
    <add key="LogFileName" value="logs"/>
    <add key="MaxNumberOfSave" value="5"/>
    <add key="SaveProjectEmplacement" value ="C:\CESI\TestEnv\SaveWorks\"/>
    <add key="LogsInXMl" value="Y"/>  <!-- "Y" for yes "N" for no -->
    <add key="LogsInJson" value="Y"/> <!-- "Y" for yes "N" for no -->
	<add key="CryptosoftPath" value ="C:\Users\gauti\OneDrive\Bureau\CESI\A3\Semestre 1\Programation système\TestEnv\Cryptosoft.exe"/>
	<add key="CryptKeyPath" value ="C:\Users\gauti\OneDrive\Bureau\CESI\A3\Semestre 1\Programation système\TestEnv\key.txt"/>
  </appSettings>
</configuration>
